body{
    background-image: url(/candy-crush-background-2.png);
}

.logo-image {
   position: absolute;
   left: 88px;
}

.logo-image img {
    width: 300px;
}

.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.score {
    text-align: center;
    display: inline-block;
    background-color: #ffcbcb;
    width: 150px;
    border-radius: 20px;
    position: absolute;
    top: 50%;
    transform: translate(145px, 0px);
    box-shadow: 1px 1px 10px black;
}

.score h2{
    color: #c9356c;
}

.score h1{
    color: #ff347f;
}

.start {
    left: 174px;
    top: 57%;
    padding: 15px;
    background-color: #ff007b;
    border: none;
    font-size: 2em;
    font-weight: bold;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}


.grid {
    background-image: url("https://www.transparenttextures.com/patterns/arabesque.png");
    width: 560px;
    height: 560px;
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 1px 1px 10px black;
    margin-top: 46px;
}

.grid div {
    width: 70px;
    height: 70px;
}